
<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <ul class="navv">
      <li class="navv-item"><a routerLink="" class="navv-link">Observebles</a></li>
      <li class="navv-item">|</li>
      <li class="navv-item"><a routerLink="./promise" class="navv-link">Promises</a></li>
      <li class="navv-item">|</li>
      <li class="navv-item"><a routerLink="./async" class="navv-link">Async</a></li>
    </ul>
  </mat-toolbar>
  <div class="div">
    <router-outlet></router-outlet>
  </div>